@import '../../styles/variables.css';

.btn {
  padding: 10px 18px;
  font-size: var(--size-boton);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: var(--fuente-texto);
  font-weight: 500;
}

/* Bot贸n principal */
.btn.primary {
  background-color: var(--rosa-principal);
  color: white;
}

.btn.primary:hover {
  background-color: var(--rosa-suave);
}

/* Bot贸n secundario */
.btn.secondary {
  background-color: var(--morado-claro);
  color: white;
}

.btn.secondary:hover {
  background-color: var(--azul-vibrante);
}

/* Bot贸n de acento (por ejemplo, amarillo o confirmaci贸n) */
.btn.accent {
  background-color: var(--amarillo-acento);
  color: var(--texto-principal);
}

.btn.accent:hover {
  filter: brightness(1.1);
}
